 body{
}
.menu{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    text-align: center;
    padding: 0;
    }
.menu a {
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 10%;
    padding-right: 10%;
    }
#RelevantLinks > ul{
	list-style-type:none;
}
.menu a:hover {
    text-decoration: underline;
    background-color: #FFFFFF;
    color: #000000;
    }
.title h1{
    font-size: 4.5em;
    display: inline;
    color: #FFFFFF;
    }
.title b{
    color: #777777;
    font-size: 2.5em;
    }
.wrapper{
	width:100%;
	margin:0;
}
section {
	float:left;
    background-color: #989898;
    -moz-box-shadow: 3px 7px 32px #000000;
    -webkit-box-shadow: 3px 7px 32px #000000;
    box-shadow: 3px 7px 32px #000000;
	margin:10px 20px 0;
    }
/*#about{
	width:500px;
}*/
#blank2{
	float:right;
}
.side {
    width: 20%;
    }
.middle {
    width: 75%;
    left: 25%;
    }
.top {
    top: 200px;
    }
.left {
    left: 2%;
    }
.right {
    right: 4%;
    }
.book {
    margin: 0;
    text-align: center;
    }
#blank2 {
        top: 500px;
        margin-top:10px;
  }  
.book img {
        height: 100px;
        margin-top:10px;
    }
.introduction{
    padding-left:10px;
    padding-right:10px;
    }
#RelevantLinks{
    
    }