body {
    background-image: url("background.jpg");
    }

.menu   {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    padding: 0;
    }

.menu a {
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 10%;
    padding-right: 10%;
    }

.menu a:hover {
    text-decoration: underline;
    background-color: #FFFFFF;
    color: #000000;
    }

.title h1    {
    padding: 20px;
    font-size: 4.5em;
    display: inline;
    color: #FFFFFF;
    }
.title b    {
    color: #777777;
    font-size: 2.5em;
    }

section {
    position: absolute;
    border: solid 1px;
    border-color: #989898;
    background-color: #989898;
    }

.side {
    width: 20%;
    }

.middle {
    width: 50%;
    left: 25%;
    }

.top {
    position: absolute;
    top: 30%;
    }

.left {
    left: 0;
    }

.right {
    right: 0;
    }

.book {
    margin: 0;
    }
    
.book img {
    width: 100%;
    }
