.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    }

.header h1  {
    display: inline;
    }
.header b   {
    font-weight: normal;
    font-style: italic;
    }
